
<div class="header" >
  <h1>Savitribai Phule Pune University</h1>
</div>
<div class="nav">
  <ul>
    <li><a routerLink="/home-page">Home</a></li>
    <li><a routerLink="/sign-up">login</a></li>
    <li><a routerLink="/log-in">signup</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="contactdetail">Contact Us</a></li>

  </ul>
</div>

<h2><marquee><b>WELCOME TO SAVITRIBAI PHULE PUNE UNIVERSITY</b></marquee></h2><br>
<angular-image-slider [images]="imagesUrl"></angular-image-slider>
<br>
<br>
<br>
<br>
<br>
<br>
<button class="btn btn-default" type="button" (click)="next();"> Next</button>


